.wrapper {
  padding: 20px 10px;
  border-radius: 10px;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.content {
  text-align: left;
  font-size: 25px;
  margin: 0px;
}

.action {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 15px;
}

.actionWrapper {
}
